body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left:40px;


}

#supportHero{
  background-color:#688dc1;
  color: rgb(27, 27, 27);
}
#supportHero a{
   color: rgb(245, 242, 242); /* or specify a color */
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;

}

#supportHero input{
  padding:20px 50px;
  border-radius:8px;
  border:none;
  width: 100%;
  font-size: 20px;



}
/* .footerelements{
  text-decoration:none;
  color:grey;
  margin-bottom: 8px;;
} */
